.component_BusinessProcessActionMatrix_root {
  width: 100%;
}

.component_BusinessProcessActionMatrix_actions {
  margin-top: 8px;
}

.component_BusinessProcessActionMatrix_actionTag {
  margin-inline-end: 8px;
}

